.link {
    display: block;
    width: fit-content;
    padding: 0.2rem 0.4rem;
    margin: 1rem 1rem 0 auto;
    border-radius: 0.6rem;
    background-color: var(--mfc-white-color);
    color: #101828;
}
