.block {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--mfc-middle-color);
}

.header_services {
  margin: 0 0 0.6rem 0;
  color: var(--mfc-black-color);
  font-size: 1.4rem;
  font-weight: 400;
}

.header_services:not(:first-child) {
  margin-top: 1rem;
}

.courses_list,
.tests_list {
  display: flex;
}

.course {
  width: 32%;
}

.course:not(:first-child) {
  margin-left: 1%;
}

.test {
  width: 24%;
}

.test:not(:first-child) {
  margin-left: 1%;
}

.event:not(:first-child) {
  margin-top: 1rem;
}

.firstWednesday {
  color: var(--mfc-red-color);
}
