.header_page {
  margin: 0;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.content {
  position: relative;
}

.button_back {
  position: absolute;
  height: 2.4rem;
}

.text_content {
  font-size: 1.625rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
