.top_component {
  padding: 20px 40px;
  border-radius: 30px;
  background-color: #d2ae8eff;
}

.top_title {
  font-weight: 600;
}

.top_link {
  display: inline-block;
  margin: 10px 0;
  font-size: 24px;
  color: #5d5db8;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
