.button {
    display: block;
    width: 100%;
    transform: scale(1);
    transition: transform 0.2s ease;
    color: var(--mfc-black-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.button:hover {
    transform: scale(1.03);
}

.top_service_component {
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    background-color: var(--mfc-dark-color);
}

.top_service_title {
    font-size: 1rem !important;
}

.theoretical_courses_component {
    padding: 2.3rem 2rem;
    border-radius: 2rem;
    background-color: var(--mfc-middle-color);
}

.general_courses_component {
    padding: 2.3rem 2rem;
    border-radius: 2rem;
    background-color: var(--mfc-light-color);
}

.theoretical_courses_component,
.general_courses_component {
    margin-top: 2rem;
}
