ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header_services {
    margin: 0 0 0.6rem 0;
    color: #101828;
    font-size: 1.6rem;
    font-weight: 400;
}

.header_services:not(:last-child) {
    margin-top: 2rem;
}

.services {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 1rem;
    border-radius: 2rem;
}

.service_button {
    width: 22%;
    padding: 1rem 0.6rem;
    border-radius: 0.4rem;
    background-color: var(--mfc-white-color);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.services_test {
    display: inline-block;
    width: fit-content;
    margin-top: 0.8rem;
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
    color: var(--mfc-black-color);
    font-size: 1rem;
    font-weight: 600;
}

.short_services,
.short_services_test {
    background-color: var(--mfc-dark-color);
}

.middle_service,
.middle_services_test {
    background-color: var(--mfc-middle-color);
}

.long_service,
.long_services_test {
    background-color: var(--mfc-light-color);
}

.short_services .service_link,
.middle_service .service_link {
    background-color: var(--mfc-light-color);
}

.long_service .service_link {
    background-color: var(--mfc-middle-color);
}
