.header_services {
    margin: 0 0 0.6rem 0;
    color: #101828;
    font-size: 1.4rem;
    font-weight: 400;
}

.container {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--mfc-middle-color);
}

.courses_list,
.tests_list {
    display: flex;
    justify-content: space-between;
}

.course,
.test {
    width: 32%;
}
