span {
  display: block;
}

.webinar {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--mfc-light-color);
  color: #101828;
  font-weight: 600;
}

.content {
  width: 100%;
  margin-right: auto;
}

.title {
  font-size: 1rem;
}

.date_time {
  color: var(--mfc-gray-color);
  font-size: 0.9rem;
}

.date_time {
  color: var(--mfc-black-color);
}

.button_delete {
  margin-left: 0.5rem;
}
