.test {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--mfc-light-color);
    color: #101828;
    font-weight: 600;
    cursor: pointer;
}

.title {
    padding-bottom: 1rem;
    font-size: 1rem;
}

.date_end {
    padding-top: 0.4rem;
    color: gray;
    font-size: 0.8rem;
    border-top: 0.1rem solid var(--mfc-dark-color);
}
