.button {
    height: 2rem;
    width: 2rem;
    padding: 0.2rem;
    cursor: pointer;
    border-radius: 0.2rem;
}

.edit {
    background-color: var(--mfc-blue-color);
}

.edit:hover {
    background-color: #30BCBCFF;
}

.delete {
    background-color: var(--mfc-red-color);
}

.delete:hover {
    background-color: #ea7d4d;
}

.save {
    background-color: var(--mfc-green-color);
}

.save:hover {
    background-color: #5bb85b;
}

.close {
    background-color: var(--mfc-red-color);
}

.close:hover {
    background-color: #ea7d4d;
}
