.button {
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;
  cursor: pointer;
  border: 0;
  border-radius: var(--mfc-radius-sm);
  transition: background-color var(--mfc-transition-fast), transform var(--mfc-transition-fast);
}

.edit {
  background-color: #219696;
}

.edit:hover {
  background-color: var(--mfc-blue-color);
}

.delete {
  background-color: #e56b5b;
}

.delete:hover {
  background-color: var(--mfc-red-color);
}

.save {
  background-color: #4f9f4f;
}

.save:hover {
  background-color: var(--mfc-green-color);
}

.close {
  background-color: #e56b5b;
}

.close:hover {
  background-color: var(--mfc-red-color);
}
