.user {
    display: flex;
    align-items: center;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    background-color: var(--mfc-middle-color);
}

.name {
    font-size: 1rem;
}

.department {
    color: gray;
    font-size: 0.9rem;
}

.select {
    margin-left: auto;
}

.save_button {
    height: 1.8rem;
    width: 1.8rem;
    margin-left: 1rem;
    padding: 0.4rem 0.6rem;
    background-color: green;
    border-radius: 0.6rem;
    color: var(--mfc-white-color);
    cursor: pointer;
}

.save_button_icon {
    height: 100%;
    width: 100%;
    transform: scale(1.8);
}
