.input {
  min-height: 2.25rem;
  padding: 0.4rem 0.625rem;
  border: 0.1rem solid var(--mfc-border-color);
  border-radius: var(--mfc-radius-md);
  color: var(--mfc-black-color);
  background-color: var(--mfc-white-color);
  font-size: 0.875rem;
  transition: border-color var(--mfc-transition-fast), box-shadow var(--mfc-transition-fast);
}

.input::placeholder {
  color: var(--mfc-gray-color);
}

.input:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.text {
  width: 100%;
}

.date {
  width: fit-content;
  height: 2.25rem;
}

.time {
  width: fit-content;
  height: 2.25rem;
}

.email {
  width: 100%;
}

.password {
  width: 100%;
}

.number {
  width: 100%;
}
