.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_input {
    margin-bottom: 0.4rem;
    padding: 0.4rem;
}

.form_date {
    margin-bottom: 0.4rem;
}

.form_input_date_end {
    height: 1.6rem;
    width: fit-content;
    margin-bottom: 0.4rem;
}

.button_create {
    width: fit-content;
    padding: 0.4rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background-color: green;
    cursor: pointer;
}

.course {
    margin-top: 1rem;
}
