.course {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--mfc-light-color);
    color: #101828;
    transform: scale(1);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.course:hover {
    transform: scale(1.03);
}

.course span {
    display: block;
}

.title {
    font-weight: 600;
}

.department {
    font-style: italic;
}

.date_end {
    padding-top: 0.4rem;
    margin-top: 0.4rem;
    border-top: 0.1rem solid var(--mfc-dark-color);
    color: gray;
    font-size: 0.8rem;
}
