.info_component {
  position: relative;
  margin-top: 3.5rem;
  padding: 1.25rem 2.5rem;
  border: 0.8rem solid var(--mfc-dark-color);
  border-radius: 2rem;
}

.info_date {
  font-size: 1.125rem;
}

.info_name {
  padding-top: 1.25rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.info_department {
  padding-top: 1.75rem;
  font-size: 1.125rem;
}

.info_description {
  font-size: 1.25rem;
}

.info_img {
  position: absolute;
  right: 2.5rem;
  bottom: 0;
  height: 16rem;
}

.progress_info_component {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  border-radius: 30px;
  background-color: #e6d2c0;
}

.progress_block {
  display: flex;
  align-items: center;
}

.progress_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 5rem;
  width: 5rem;
  border: 0.15rem solid #896b5f;
  border-radius: 3rem;
  background-color: #ffffff;
  font-size: 1.7rem;
  color: #896b5f;
}

.progress_name {
  margin-left: 1.6rem;
  font-size: 1.1rem;
  font-weight: 500;
}
