.container {
  height: 100%;
  padding: 1.5rem;
  overflow: auto;
}

.info_component {
  position: relative;
  margin-top: 3.5rem;
  padding: 1.25rem 2.5rem;
  border: 0.8rem solid var(--mfc-dark-color);
  border-radius: 2rem;
}

.info_date {
  font-size: 1.125rem;
}

.info_name {
  padding-top: 1.25rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.info_department {
  padding-top: 1.75rem;
  font-size: 1.125rem;
}

.info_description {
  font-size: 1.25rem;
  font-weight: 500;
}

.info_img {
  position: absolute;
  height: 16rem;
  right: 4rem;
  top: -4rem;
}

