:root {
    --mfc-white-color: #ffffff;
    --mfc-light-color: #f5eee7;
    --mfc-middle-color: #e6d2c0;
    --mfc-dark-color: #d2ae8e;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--mfc-dark-color);
}

a {
    text-decoration: none;
}
